body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.label-input {
  display: flex;
  justify-content: flex-start;
}

div.td > label {
  justify-self: flex-start;
}

section.sender {
  display: flex;
  flex-direction: column;
}

.label-input > label {
  width: 22%;
}

.label-input > input.value {
  border-bottom: 1px solid lightgray;
  text-align: start;
}

.clearFields {
  display: flex;
  justify-content: center;
}

.tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.td,
.th {
  width: 100%;
  border: 0.1px solid lightgray;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
}

button.btn-save {
  width: 18%;
}

.value {
  width: 100%;
  background-color: transparent;
  border: none;
}

input {
  text-align: center;
  width: 90%;
  border: none;
}

.btn.value {
  justify-self: flex-start;
}

button.btn-data {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}

button.btn-data:hover {
  background-color: lightpink;
}

section.sender input {
  border-bottom: 1px solid pink;
}

section.sender input:hover {
  background-color: lightskyblue;
}

/* th,
td {
  border-bottom: 1px solid black;
} */

@media print {
  body {
    font-size: 12pt;
  }
  .noprint {
    display: none;
  }
  #root {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .container {
    width: 85% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  table {
    width: 100%;
  }
  @page {
    margin-left: 0cm;
    margin-right: 0cm;
  }
  /*
  @page:first {
    margin: 0cm;
  }
  @page:last {
    margin: 5cm;
  }
  @page:left {
    margin: 2cm 1.5cm 2cm 2cm;
  }
  @page:right {
    margin: 2cm 2cm 2cm 1.5cm;
  }
  a:after {
    content: "("attr(href)");
  }
  print like this: cool trick (https://benfrain.com/create-print-styles-using-css3-media-queries)
  */
}
