body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-size: min(4rem, max(0.875rem, 2vw));
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container {
  width: 90%;
}

h2 {
  background-color: lightskyblue;
  text-align: center;
  border-radius: 0.2em;
  color: black;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

::placeholder {
  color: gray;
}

button {
  border-radius: 0.2em;
  margin: 0.1rem;
  border: none;
  width: 100%;
}

h2#title {
  display: none;
}

.table {
  border-radius: 0.3em;
}

.th {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: flex-start;
}

.field-label {
  width: 28%;
  max-width: 5rem;
}

section {
  display: flex;
  flex-direction: column;
}

button.btn-save {
  background-color: turquoise;
  font-weight: bold;
  border: 1px solid lightseagreen;
}

.clearFields {
  display: flex;
  justify-content: center;
}

.tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.td,
.th {
  width: 100%;
  border-bottom: 0.1px solid lightgray;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.col1,
.col2 {
  border-left: 0.1px solid lightgray;
}

.col-2 {
  width: 50%;
  max-width: 15rem;
}

.add-item .seq {
  color: green;
  font-weight: bolder;
}

button.btn-save,
button.btn-clear {
  width: 18%;
  max-width: 4rem;
}

button.btn-delete:hover,
button.btn-save:hover,
button.btn-delete:hover {
  background-color: orange;
}

.value {
  width: 100%;
  border: none;
}

input {
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 0.2em;
}

.field-data {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid yellowgreen;
  text-align: start;
}

.field-data:hover,
.table-data:hover {
  background-color: lightgreen;
}

.col-btn {
  width: 36%;
  max-width: 4rem;
}

.btn-delete {
  background-color: pink;
  font-weight: bold;
  border: 1px solid plum;
}

.table .btn-save {
  min-width: 3rem;
  width: 100%;
}

.field-input {
  border-bottom: 1px solid red;
  text-align: start;
}

.field-input:hover {
  background-color: lightpink;
}

.seq {
  width: 20%;
  max-width: 3rem;
}

.table-data {
  background-color: transparent;
  border: none;
  text-align: start;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera < 7 */
  white-space: -o-pre-wrap; /* IE */
  word-wrap: break-word;
  /* white-space: nowrap; does not wrap, but text got hidden at the end of div */
}

.table-data:hover {
  background-color: lightgreen;
}

.currency {
  text-align: end;
}

div.td.col-2.currency {
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.table-input {
  background-color: #e8ffde;
}

p.footer {
  text-align: center;
  color: black;
}
/* th,
td {
  border-bottom: 1px solid black;
} */

@media print {
  /* @page { DOES NOT WORK!
    margin-left: 7cm;
    margin-right: 12cm;
  } */
  * {
    font-size: 12pt;
  }
  .noprint {
    display: none;
  }
  #root {
    width: 90% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 5% !important;
  }
  h2#title {
    display: block;
  }
  legend {
    all: unset;
  }
  div.th {
    background-color: lightgray;
  }
  button,
  .field-data,
  .field-input {
    border: none;
  }
  /* .td,
  .th,
  .table-data {
    all: unset;
  } */
  .th {
    background-color: lightgray;
  }
  .seq {
    width: 10%;
  }
  .col-2 {
    width: 30%;
  }
  section.parties-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
  }
  section.seller,
  section.buyer {
    width: 50%;
  }
  /*
  @page:first {
    margin: 0cm;
  }
  @page:last {
    margin: 5cm;
  }
  @page:left {
    margin: 2cm 1.5cm 2cm 2cm;
  }
  @page:right {
    margin: 2cm 2cm 2cm 1.5cm;
  }
  a:after {
    content: "("attr(href)");
  }
  print like this: cool trick (https://benfrain.com/create-print-styles-using-css3-media-queries)
  */
}
